
*{
    margin: 0;
    padding: 0;
    background: #191919;
    color: #DDDDDD;
    border: 1px solid #5A5A5A;
    font-family: "Verdana";
    font-size: 12px;
}

QCalendarWidget QWidget { alternate-background-color: #5A5A5A; }

QCalendarWidget QToolButton, QCalendarWidget QWidget#qt_calendar_navigationbar{
    border: 0px;
    min-width: 70px;
}

QCalendarWidget QAbstractItemView:disabled {
    color: rgb(64, 64, 64);
}

QCalendarWidget QAbstractItemView{
    selection-background-color: #003642;
}

QLabel{
    border:0px;
}

QLabel#date{
    font-size:30px;
}

QFrame#line{
    margin:0,10,0,0;
    border:3px solid #5A5A5A;
}

QPushButton, QToolButton#inserisci{
    margin: 0;
    padding: 6;
    border: 1px solid #5A5A5A;
}

QToolButton#inserisci::menu-indicator{
    subcontrol-position: right center;
    left: -6px;
}

QAbstractButton:hover, QMenu::item:selected{
    background: #353535;
}

QSpinBox::up-button{
    background-color: #353535;
}

QSpinBox::down-button{
    background-color: #353535;
}

QSpinBox::up-arrow{
    image: url(:/icone/up.png);
    width: 7px;
    height: 7px;
}

QSpinBox::down-arrow{
    image: url(:/icone/down.png);
    width: 7px;
    height: 7px;
}

QAbstractButton:pressed {
    background: #5A5A5A;
}

QListWidget::item {
    margin: 15px;
}

QDateEdit::disabled, QComboBox::disabled, QSpinBox::disabled{
    color: #333333;
}

ImpWindow QCheckBox{
    border: 0px;
}
